<launch>
	<node pkg="snapshotter" type="snapshotter.py" name="snapshotter_left" output="screen">
		<param name="camera" value="wide_stereo/left" />
		<param name="output" value="snapshot_left_output" />
	</node>
	
	<node pkg="snapshotter" type="snapshotter.py" name="snapshotter_right" output="screen">
		<param name="camera" value="wide_stereo/right" />
		<param name="output" value="snapshot_right_output" />
	</node>
	
	<node pkg="clothing_models" type="furthest_corner_node.py" name="furthest_corner_left_node" output="screen">
	    <param name="input" value="snapshot_left_output" />
	    <param name="model" value="~/stephen_sandbox/visual_feedback/clothing_models/towel_model.pickle" />
	    <param name="threshold" value="85" />
	    <param name="output" value="left_processing" />
	</node>
	
    <node pkg="clothing_models" type="furthest_corner_node.py" name="furthest_corner_right_node" output="screen">
	    <param name="input" value="snapshot_right_output" />
	    <param name="model" value="~/stephen_sandbox/visual_feedback/clothing_models/towel_model.pickle" />
	    <param name="threshold" value="85" />
	    <param name="output" value="right_processing" />
	</node>
	
</launch>
